@using Mvc5IleKutuphaneYonetimSistemi.Models.Entity

@using PagedList;
@using PagedList.Mvc;



@model PagedList.IPagedList<TblUye>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Index</h2>

<table class="table table-bordered">

    <tr style="background-color:coral">
        <th>Üye Numarası</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Üye Kullanıcı Adı</th>
        <th>Üye Maili</th>
        <th>Üye Telefon</th>
        <th>Üye Okul</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>



            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.SOYAD</td>
            <td>@item.KULLANICIAD</td>
            <td>@item.MAIL</td>
            <td>@item.TELEFON</td>
            <td>@item.OKUL</td>
            <td>
                <a href="/Uye/UyeSil/@item.ID" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Uye/UyeGuncelle/@item.ID" class="btn btn-success">Güncelle</a>
            </td>

        </tr>

    }



</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index",new { sayfa }))



<a href="/Uye/UyeEkle" class="btn btn-primary">Ekle</a>
